/Kapitel 2/2.2.1/dialog/target/
/Kapitel 2/2.2.2/hello-world/target/
/Kapitel 2/2.4.2/tweetalot/target/
/Kapitel 3/3.1.2/properties/target/
/Kapitel 3/3.1.6/properties/target/
/Kapitel 3/3.1.6/read-only-properties/target/
/Kapitel 3/3.2/read-only-properties/target/
/Kapitel 3/3.2/binding/target/
/Kapitel 3/3.2.1/binding-apis/target/
/Kapitel 3/3.2.2/binding-logic/target/
/Kapitel 3/3.2.3/binding-logic/target/
/Kapitel 3/3.2.3/binding-numeric/target/
/Kapitel 3/3.2.4/binding-numeric/target/
/Kapitel 3/3.2.4/binding-string/target/
/Kapitel 3/3.2.5/binding-string/target/
/Kapitel 3/3.2.5/binding-bound-val/target/
/Kapitel 3/3.2.6/binding-bound-val/target/
/Kapitel 3/3.2.6/binding-bidirectional/target/
/Kapitel 3/3.2.7/binding-logic/target/
/Kapitel 3/3.2.7/when-then-otherwise/target/
/Kapitel 3/3.3.1/binding-invalidationlistener/target/