.val0{
    -fx-fill: red;
}
.val1{
    -fx-fill: green;
}
.val2{
    -fx-fill: blue;
}
.val3{
    -fx-fill: violet;
}
.val4{
    -fx-fill: pink;
}
.val5{
    -fx-fill: aqua;
}
.val6{
    -fx-fill: bisque;
}
.val7{
    -fx-fill: brown;
}

